#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS := hardening=+all
export CGO_ENABLED := 1

%:
	dh $@

override_dh_auto_build:
	GOFLAGS= CGO_ENABLED=1 go build -trimpath -buildmode=pie \
		-ldflags '-s -w -X github.com/nixomose/zfstool/internal/version.Version=$(DEB_VERSION_UPSTREAM)' \
		-o zfstool ./cmd/zfstool

override_dh_auto_install:
	install -D -m0755 zfstool debian/zfstool/usr/bin/zfstool
	install -D -m0644 deploy/zfstool-agent.service \
		debian/zfstool/usr/lib/systemd/system/zfstool-agent.service
	install -D -m0644 deploy/zfstool.desktop \
		debian/zfstool/usr/share/applications/zfstool.desktop
	set -e; for sz in 16x16 24x24 32x32 48x48 64x64 128x128 256x256 512x512; do \
		install -D -m0644 deploy/icons/hicolor/$$sz/apps/zfstool.png \
			debian/zfstool/usr/share/icons/hicolor/$$sz/apps/zfstool.png; \
	done
	install -D -m0644 deploy/icons/hicolor/scalable/apps/zfstool.svg \
		debian/zfstool/usr/share/icons/hicolor/scalable/apps/zfstool.svg

override_dh_auto_test:
	@:

override_dh_auto_clean:
	rm -f zfstool
